Flask==2.0.3
flask-apispec==0.11.0
Flask-Compress==1.11
Flask-RESTful==0.3.9
numpy==1.23.5
redis
rq
shap
PyYAML
psutil
scikit-learn==1.2.2
scipy
pandas==1.5.3
matplotlib
seaborn
stumpy==1.11.1
numba==0.56.4
minio
pyod==1.0.8
influxdb-client
jsonschema
dtaidistance==2.3.10
kafka-python
hdbscan==0.8.29
dash
dash-bootstrap-components
celery